.fast {
    height: 900px;
    width: 100%;
    background-image: url("images/donation1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;



}

.fast h1 {
    padding: 150px;
    font-size: 50px;
}

.fast p {
    font-size: 30px;

}

.fast a {
    text-decoration: none;
    background-color: orange;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px 40px;

}